@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* index.css */
html,
body {
  @apply bg-[#E5B8F4] dark:bg-[#1A103D] text-[#2D033B] dark:text-[#EDE9F9] m-0 p-0;
}

html {
  scroll-behavior: smooth;
}
/* Wave Animation */
@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}
body {
  font-family: 'Sora', sans-serif;
}
/* Optional: Style the nprogress bar */
#nprogress .bar {
  background: #810CA8 !important; /* Purple accent */
  height: 3px;
}
